body {
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.4);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loader-overlay i {
  color: #444;
}

.page-wrapper {
    max-width: 1400px;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.container {
    margin: 0 auto;
    padding: 20px 20px;
    max-width: 700px;
    min-height: 100vh;
}

@media (max-width: 500px) {
    .container {
    padding: 20px 10px;
    }
}

.post-title {
    font-size: 20px;
    padding: 5px;
}

.title-section {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.title-section label {
    width: 60px;
}

.title-section input {
    flex: 1;
}

.post-content {
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
    padding: 12px;
    font-size: 16px;
    resize: none; /* to prevent manual resize */
    overflow-y: hidden;
}

.post-btn-section {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.post-btn {
    padding: 0.1rem 1rem;
    font-size: 1rem;
    border-radius: 5px;
    border: solid 0.5px black;
    transition: background-color 0.1s;
}

.post-btn:hover {
    background-color: #cfcfcf;
    cursor: pointer;
}
