.posts-container {
    margin: 0 auto; /* Center the content */
    padding: 0 10%; /* Initial padding for left and right */
    margin-top: 20px;
    max-width: 800px; /* Optional: Max width to prevent very wide text blocks */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; /* Space between sections */
}

/* Adjust the margins for smaller screens */
@media (max-width: 1200px) {
    .posts-container {
      padding: 0 8%;
    }
  }
  
  @media (max-width: 992px) {
    .posts-container {
      padding: 0 6%;
    }
  }
  
  @media (max-width: 768px) {
    .posts-container {
      padding: 0 4%;
    }
  }
  
  @media (max-width: 576px) {
    .posts-container {
      padding: 0 2%;
    }
  }

  .post-link {
    text-decoration: none;
    color: var(--black);
    width: 100%;
  }
  
  .post-section {
    width: 100%; /* Adjust as needed */
    max-width: 800px;
    padding: 20px;
    padding-top: 0;
    margin: 10px 0;
    background-color: rgba(255, 255, 255, 0.8); /* Transparent background */
    border-radius: 8px; /* Optional: Rounded corners */
    transition: box-shadow 0.3s ease-in-out; /* Smooth transition for the shadow */
  }
  
  .post-section:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Light shadow on hover */
  }
  
  .heading {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .post-section h2 {
    font-size: 1.5em;
    text-align: left;
    font-family: "Baskervville", serif;
    font-weight: 600;
    font-style: normal;
  }

  .post-description {
    text-align: justify;
  }

  .separator {
    width: 80%; /* Adjust as needed */
    max-width: 800px;
    border: 0;
    border-top: 1px solid #ddd;
    margin: 0;
  }