html, body {
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.4);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loader-overlay i {
  color: #444;
}

.page-wrapper {
  max-width: 1400px;
  margin: 0 auto;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.container {
    margin: 0 auto;
    padding: 20px 20px;
    max-width: 900px;
    min-height: 100vh;
}

@media (max-width: 500px) {
    .container {
    padding: 20px 10px;
    }
}

.header-style {
    text-align: center;
    font-size: 24px;
    margin-bottom: 10px;
}

hr {
    width: 80%;
    margin: 10px auto 10px auto;
}

/* ****** Login section ****** */

.login-section {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    height: 60%;
}

.login-info-line {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.login-info-lbl {
    width: 80px;
}

.login-info-input {
    flex: 1;
    font-size: 0.8rem;
}

.login-btn {
    padding: 0.1rem 1rem;
    font-size: 1rem;
    border-radius: 5px;
    border: solid 0.5px black;
    transition: background-color 0.1s;
}

.login-btn:hover {
    background-color: #cfcfcf;
    cursor: pointer;
}