body {
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loader-overlay i {
  color: #444;
}

.page-wrapper {
  max-width: 1400px;
  margin: 0 auto;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.container {
    margin: 0 auto;
    padding: 20px 20px;
    max-width: 900px;
    min-height: 100vh;
}

@media (max-width: 500px) {
    .container {
    padding: 20px 10px;
    }
}

.header-style {
    text-align: center;
    font-size: 24px;
    margin-bottom: 10px;
}

hr {
    width: 80%;
    margin: 10px auto 10px auto;
}

/* posts list */

.posts-container {
  margin: 0 auto;
  padding: 0 10%;
  margin-top: 40px;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  box-sizing: border-box;
}

@media (max-width: 1200px) {
  .posts-container {
    padding: 0 8%;
  }
}
@media (max-width: 992px) {
  .posts-container {
    padding: 0 6%;
  }
}
@media (max-width: 768px) {
  .posts-container {
    padding: 0 4%;
  }
}
@media (max-width: 576px) {
  .posts-container {
    padding: 0 2%;
  }
}

.post-link {
  text-decoration: none;
  color: inherit;
  width: 100%;
}

.post-section {
  width: 100%;
  max-width: 800px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 8px;
  box-sizing: border-box;
  transition: background-color 0.3s ease;
}

.post-section:hover {
  background-color: rgba(240, 240, 240, 1);
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post-section h2 {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
}

.post-section p {
  margin: 0;
  font-size: 0.95em;
  color: #555;
}

.post-description {
  margin-top: 10px;
  text-align: justify;
  font-size: 1em;
}

.separator {
  width: 80%;
  max-width: 800px;
  border: 0;
  border-top: 1px solid #ddd;
  margin: 0;
}

/* footer */

.footer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #f8f9fa;
    padding: 20px;
    font-family: sans-serif;
}

.footer-left,
.footer-right {
    padding: 20px;
    box-sizing: border-box;
}

.footer-left {
    width: 60%;
}

.footer-right {
    width: 40%;
}

.footer-left h1,
.footer-right h1 {
    font-size: 20px;
    margin: 0 0 10px 0;
    color: #444;
}

.footer-left hr,
.footer-right hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 0 0 10px 0;
    width: 100%;
}

.footer-left p {
    margin: 0;
    font-size: 14px;
    color: #555;
}

.social-icons {
    display: flex;
    gap: 10px;
}

.social-icons a img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    transition: opacity 0.3s;
    cursor: pointer;
    background-color: white;
    border-radius: 8px;
}

.social-icons a img:hover {
    opacity: 0.6;
}

@media (max-width: 768px) {
    .footer {
    flex-wrap: wrap;
    }

    .footer-left,
    .footer-right {
    width: 100%;
    }
}