.navbar {
    background-color: var(--white); /* Transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px; /* Adjust the height as needed */
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000; /* Ensure navbar is on top */
}

.navbar-menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-item a {
    text-decoration: none;
    color: black;
    padding: 10px 20px;
    display: block;
    transition: background-color 0.3s ease;
}

.navbar-item:hover {
    background-color: rgba(0, 0, 0, 0.1); /* Darker background on hover */
}

.navbar-item a:hover {
    color: var(--black); /* Adjust text hover color if needed */
}

.content {
    background-color: var(--white);
    padding-top: 60px; /* Add padding equal to navbar height */
    flex: 1; /* Allow content to grow and take up available space */
    min-height: 100vh;
}

.footer {
    background-color: var(--navy-blue);
    color: var(--white);
    text-align: center;
    padding: 10px 0;
    flex-shrink: 0;
}

.footer a { /* for contact */
    text-decoration: none;
    color: var(--white);
}